<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cmsk.wxplatform.modules.wx.dao.WxMsgMapper">
    <cache-ref namespace="com.cmsk.wxplatform.modules.wx.dao.WxMsgMapper"/>

    <insert id="insertMsgInfo" parameterType="com.cmsk.wxplatform.modules.wx.entity.WxMsg">
        insert into wx_msg (appid,openid,in_out,msg_type,detail,create_time)
        values (#{appid,jdbcType=CHAR},#{openid,jdbcType=VARCHAR},#{inOut,jdbcType=INTEGER},
        #{msgType,jdbcType=CHAR},#{detail,jdbcType=OTHER,typeHandler=com.cmsk.wxplatform.common.handler.JSONObjectTypeHandler},
        #{createTime,jdbcType=TIMESTAMP})
    </insert>
</mapper>